DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Your_Password
DB_NAME=smart_service

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

GEMINI_API_KEY=Gemini_api_key